Repository datumforge/geodetic, pull requests merged in 2024-03, with the labels that each got.

#4 cleanup config changes
  .gitignore
  .gitignore copy
  config/.config.yaml
  config/config-dev.example.yaml
  config/config.go
  db/README.md
  main.go
Labels: config

#10 uplift pipeline, golanglint fixes
  .buildkite/pipeline.yaml
  .golangci.yaml
  Taskfile.yaml
  cmd/cli/cmd/database/database_get.go
  cmd/cli/cmd/group/group_get.go
  cmd/cli/cmd/root.go
  jsonschema/envparse/parse.go
  jsonschema/schema_generator.go
Labels: config, ci, cli, local-development

#14 feat: move enums to pkg, add new client function, update hooks
  README.md
  cmd/cli/cmd/database/database_create.go
  cmd/cli/cmd/group/group_create.go
  cmd/cli/cmd/root.go
  go.mod
  go.sum
  internal/ent/generated/database.go
  internal/ent/generated/database/database.go
  internal/ent/generated/database/where.go
  internal/ent/generated/database_create.go
  internal/ent/generated/database_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/group.go
  internal/ent/generated/group/group.go
  internal/ent/generated/group/where.go
  internal/ent/generated/group_create.go
  internal/ent/generated/group_update.go
  internal/ent/generated/internal/schema.go
  internal/ent/generated/mutation.go
  internal/ent/hooks/database.go
  internal/ent/schema/database.go
  internal/ent/schema/group.go
  internal/graphapi/database_test.go
  internal/graphapi/gen_server.go
  internal/graphapi/models_test.go
  pkg/enums/doc.go
  pkg/enums/provider.go
  pkg/enums/provider_test.go
  pkg/enums/region.go
  pkg/enums/region_test.go
  pkg/enums/status.go
  pkg/enums/status_test.go
  pkg/geodeticclient/config.go
  pkg/geodeticclient/graphclient.go
  pkg/geodeticclient/models.go
  schema.graphql
  schema/ent.graphql
Labels: graphapi, cli
